<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!--DB Config-->
	<add key="USE_EDB_MYRPT" value="true" />

	<add key="EDBServerType" value="EDB" />
	<!--
	<add key="EDBServerType" value="PostgreSql" />
	-->
	<add key="EDBConnString" value="Host=10.129.7.28;Port=5444;Database=myrpt;Username=jps;Password=JPS123;SSL Mode=Prefer;" />

    <add key="ERPServerType" value="Oracle"/>
    <add key="ERPConnString" value="Data Source=sohya;User Id=topco;Password=erp;Max Pool Size=20;Connection Lifetime=180;"/>
    <add key="ERPConnString115" value="Data Source=tpdb115;User Id=topco;Password=erp;Max Pool Size=20;Connection Lifetime=180;" />
    <add key="JPSServerType" value="Oracle"/>
    <add key="JPSConnString" value="Data Source=myrpt;User Id=jps;Password=JPS123;Max Pool Size=100;Connection Lifetime=180;"/>
    <add key="JPSConnString115" value="Data Source=jps115;User Id=jps;Password=TopcoMis;Max Pool Size=100;Connection Lifetime=180;"/>
    <add key="TopcoDbTableDpj240" value="topco.dpj240@tpdb_tpdb_topco"/>
    <add key="ShdbDbTableDpj240" value="shdb.dpj240@sohya"/>
    <add key="TopcoTable" value="@tpdb_tpdb_topco"/>
    <add key="ShdbTable" value="@tpdb_tpdb_topco"/>
    <add key="SjdbTable" value="@tpdb_tpdb_topco"/>
    <!--For DataBlock Config-->
    <add key="DataBlockLogFilePath" value="c:/log/jps.myreport.out"/>
    <add key="DataBlockLogEnabled" value="true"/>
    <add key="DataBlockCommandTimeout" value="60"/>
    <!-- web ini parameter -->
    <!-- add key="QueuePath" value="D:\MessageQueue"/ -->
    <add key="UploadPath" value="/MyReport/upimages/"/>
    <add key="UploadPath2" value="D:/upload/files/"/>
    <!-- <add key="UploadPath2" value="\\topcofs.topco-global.com\upload\files\"/> -->
    <add key="ReportPath" value="/upreport/"/>
    <!-- 判斷目前是否在測試表單 -->
    <add key="TesterEmpNo" value=""/>
    <add key="HomeUrl" value="https://portaldev.topco-global.com/"/>
    <add key="MobileInbox" value="http://m.topco-global.com/tap8_61/Mobile/Common/showBox.aspx"/>
    <add key="EIPInbox" value="https://portaldev.topco-global.com/TopcoEIP/Common/showBox2.aspx"/>
    <add key="shdb_link" value="@tpdb_tpdb_topco"/>
    <add key="topco_link" value="@sohya"/>
    <add key="WALOGDBServer" value="sqlServer"/>
    <add key="WALOGDBConnString" value="Data Source=10.129.8.155;Initial Catalog=TOPCO_LOG;Connection Lifetime=480;Persist Security Info=True;uid=k2admin;Password=k2admin"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="15000"/>
    <add key="SjdbDbTableDpj236" value="sjdb.dpj236@sohya"/>
    <add key="SjdbDbTableDpj237" value="sjdb.dpj237@sohya"/>
    <add key="WARROOMDBServer" value="sqlServer"/>
    <add key="WARROOMDBConnString" value="Data Source=10.129.8.155;Initial Catalog=TOPCO_WARROOM;Connection Lifetime=180;uid=k2admin;Password=k2admin"/>
    <add key="eFormDBServerType" value="sqlServer"/>
    <add key="eFormDBConnString" value="Data Source=10.129.8.155;Initial Catalog=TOPCO_EFORM;Connection Lifetime=480;Persist Security Info=True;uid=k2admin;Password=k2admin"/>
    <!--For StoreLog Config-->
    <add key="RootPath" value="D:\WebSites\MyReport\MyReport\" />
    <!--<add key="RootPath" value="C:/ProductionDeploy/MyReport/MyReport"/>-->
    <add key="MaxUploadFileSize" value="6"/>
    <add key="MobileInboxPageUrl" value="http://m.topco-global.com/tap8_61/Mobile/Common/showBox.aspx"/>
    <add key="EIPInboxPageUrl" value="https://portaldev.topco-global.com/TopcoWebCore/InBox"/>
    <add key="StoreDailyReportTime" value="18"/>
    <add key="UMDBServer" value="Oracle"/>
    <add key="UMDBConnString" value="Data Source=sohya;User Id=topco;Password=erp;Max Pool Size=100;Connection Lifetime=180;"/>
    <add key="EmpPhoto" value="\\topcofs01.topco-global.com\hr\PMD\Personal_File\Photo\Employee Photo\"/>
    <add key="StoreLogV2StartDate" value="20191009"/>
    <add key="TTConnString" value="Data Source=10.129.1.174;Initial Catalog=EFNETDB;User ID=EFAdmin;Password=ZXCVFDSA"/>
    <!--<add key="TTConnString" value="Data Source=10.129.1.122;Initial Catalog=EFNETDB;User ID=sa;Password=sql#DSC"/>-->
    <!-- For ProjLog-->
    <add key="ProjLogMaxUploadFileSize" value="3"/>
    <add key="Junction_Path" value="/"/>
    <add key="Jps_link" value="@myrpt"/>
    <add key="sjdb_link" value="@sjdb"/>
    <add key="EFORMServerType" value="sqlServer"/>
    <add key="EFORMConnString" value="Data Source=10.129.8.155;Initial Catalog=TOPCO_EFORM;Connection Lifetime=180;uid=k2admin;Password=k2admin"/>
    <add key="EZFLOWServerType" value="sqlServer"/>
    <add key="EZFLOWConnString" value="Data Source=10.129.7.122;Initial Catalog=EFNETDB;Connection Lifetime=180;uid=EFAdmin;Password=dafe1019!"/>
    <!--<add key="EZFLOWConnString" value="Data Source=10.129.7.53;Initial Catalog=EFNETDB;Connection Lifetime=180;uid=sa;Password=sql#DSC"/>-->
    <!--<add key="EZFLOWConnString" value="Data Source=10.129.1.174;Initial Catalog=EFNETDB;Connection Lifetime=180;uid=TopcoMis;Password=sql#DSC"/>-->
	<add key="TTServiceAddress" value="http://efnet.topco-global.com/efodm/webService.asmx/"/>
    <!--<add key="TTServiceAddress" value="http://10.129.7.41/EFodm/WebService.asmx/"/>-->
    <!--上海崇誠（T）-->
    <add key="SHDBServerType" value="Oracle"/>
    <add key="SHDBConnString" value="Data Source= sohya; User Id = shdb; Password = erp;Max Pool Size=5;Connection Lifetime=180;enlist=false;"/>
    <!-- End ProjLog-->
    <!-- For ProjDashboard-->
    <add key="T02ConnString" value="Data Source= t02prod; User Id = topco;Password = topco2302;Max Pool Size=20;Connection Lifetime=180;"/>
    <!-- End ProjDashboard-->

	<!-- For J23_ProjDashboard-->
	<add key="T02_J23_ConnString" value="Data Source= t02prod_j23; User Id = topco;Password = topco2302;Max Pool Size=20;Connection Lifetime=180;"/>
	<!--<add key="T02_J23_ConnString" value="Data Source= t02prod_j23; User Id = j23;Password = J23_2023;Max Pool Size=20;Connection Lifetime=180;"/>-->
	<!-- End J23_ProjDashboard-->

    <!-- Redmine -->
    <add key="RedmineUrl" value="http://10.129.8.62:8080/"/>

    <!--For ReportSystem Config-->
    <add key="ReportType" value="Daily" />

  </appSettings>
  <connectionStrings>
    <add name="RMDDBConnString" connectionString="Data Source=10.129.8.155;Initial Catalog=TOPCO;Connection Lifetime=180;uid=k2admin;Password=k2admin" providerName="SQL" />
    <add name="EFormConnString" connectionString="Data Source=10.129.8.155;Initial Catalog=TOPCO_EFORM;Connection Lifetime=180;uid=k2admin;Password=k2admin" providerName="SQL" />
  </connectionStrings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <location path="Viewed.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="Stored.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="Weekly_viewed.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <location path="Weekly_Stored.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="AutoComplete_GetDataSource.aspx" verb="POST" type="Topco.WebUserControls.AutoComplete.AutoCompleteDataSource, Topco.WebUserControls.AutoComplete" validate="true" />
    </httpHandlers>
    <machineKey validationKey="6D17E516DEAE0E396F17C644542486E30FEDED190C0F6390354EB6786CD6CC77ED905A3DD399D316327B49F01438C9B7FF2CDD2C2219FE2C938221DE539842E2" decryptionKey="3548F384FDBB9702D03BCC365383BA35053027B705DFE6EC75350481514781A5" validation="SHA1" decryption="AES" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!-- <binding name="BasicHttpBinding_IImportExport" allowCookies="true"> -->
        <binding name="BasicHttpBinding_IImportExport" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="10485760" maxNameTableCharCount="10485760" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://alm.topco-global.com/SpiraTeam/Services/v3_0/ImportExport.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportExport" contract="IImportExport" name="BasicHttpBinding_IImportExport" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>